In [1]:
import pandas as pd

In [3]:

l= pd.read_csv('results.csv')

In [4]:
l

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False

In [5]:
print("data of the matches played in Glasgow and the home team lost is: ")

l[(l.tournament == 'FIFA World Cup qualification') & (l.city == 'Glasgow') & (l.home_score==0)]

#data of the matches played in Glasgow and the home team lost is:

data of the matches played in Glasgow and the home team lost is:

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
3080,1950-04-15,Scotland,England,0,1,FIFA World Cup qualification,Glasgow,Scotland,False
11450,1980-10-15,Scotland,Portugal,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
13574,1985-03-27,Scotland,Wales,0,1,FIFA World Cup qualification,Glasgow,Scotland,False
17220,1992-10-14,Scotland,Portugal,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
17303,1992-11-18,Scotland,Italy,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
24263,2001-09-01,Scotland,Croatia,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
26923,2004-09-08,Scotland,Slovenia,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
26979,2004-10-09,Scotland,Norway,0,1,FIFA World Cup qualification,Glasgow,Scotland,False
27858,2005-10-08,Scotland,Belarus,0,1,FIFA World Cup qualification,Glasgow,Scotland,False
30736,2008-10-11,Scotland,Norway,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
31585,2009-09-09,Scotland,Netherlands,0,1,FIFA World Cup qualification,Glasgow,Scotland,False
34378,2012-09-08,Scotland,Serbia,0,0,FIFA World Cup qualification,Glasgow,Scotland,False
35444,2013-09-06,Scotland,Belgium,0,2,FIFA World Cup qualification,Glasgow,Scotland,False

In [6]:
print (" data of matches played in London where home team lost by > 4 goals: ")

l[(l.city == 'London') & (l.away_score - l.home_score >4)]

#data of matches played in London where home team lost by > 4 goals

 data of matches played in London where home team lost by > 4 goals:

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
38149,2016-08-25,Barawa,Tamil Eelam,0,5,World Unity Cup,London,England,False
39690,2018-04-15,Barawa,Yorkshire,2,7,Friendly,London,England,False

In [7]:
#Statistics of homescreen in all matches:

l.agg({'home_score': ['min', 'max', 'mean', 'median']})

        home_score
min       0.000000
max      31.000000
mean      1.745643
median    1.000000

In [8]:
# matches played in Vietnam grouped by home_team and data being filtered on home_score in descending

print ( " Matches played in Vietnam grouped by home_team and data being filtered on home_score in descending: ")
l[l.country == 'Vietnam'].groupby('home_team').filter(lambda g: len(g) > 2).groupby('home_score').size().sort_values(ascending=False)

 Matches played in Vietnam grouped by home_team and data being filtered on home_score in descending:

home_score
1     30
0     28
2     19
3     17
4      9
5      6
6      4
9      2
11     1
8      1
7      1
dtype: int64

In [9]:
#Fetch the host country and year of FIFA WorldCup into a dictionary
l['year'] = pd.DatetimeIndex(l['date']).year
fifa = l[l['tournament']=='FIFA World Cup']
dates = fifa.date.tolist()
years=[]
for date in dates:
    year=date.split('-')[0]
    if year not in years:
        years.append(year)
dictionaryOfCountries={}
for i in range(len(years)):
    for j in range(len(fifa[fifa['year']==eval(years[i])].country.unique())):
        if years[i] in dictionaryOfCountries.keys():
            dictionaryOfCountries[years[i]].append(fifa[fifa['year']==eval(years[i])].country.unique()[j])
        else:
            dictionaryOfCountries[years[i]]=[fifa[fifa['year']==eval(years[i])].country.unique()[j]]

dictionaryOfCountries

{'1930': ['Uruguay'],
 '1934': ['Italy'],
 '1938': ['France'],
 '1950': ['Brazil'],
 '1954': ['Switzerland'],
 '1958': ['Sweden'],
 '1962': ['Chile'],
 '1966': ['England'],
 '1970': ['Mexico'],
 '1974': ['Germany'],
 '1978': ['Argentina'],
 '1982': ['Spain'],
 '1986': ['Mexico'],
 '1990': ['Italy'],
 '1994': ['United States'],
 '1998': ['France'],
 '2002': ['South Korea', 'Japan'],
 '2006': ['Germany'],
 '2010': ['South Africa'],
 '2014': ['Brazil'],
 '2018': ['Russia']}